.base {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 5px;
  border: 2px solid #aaa;
  background-color: #eee;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.toggled {
  background-color: #aaa;
}

.indicator {
  color: white;
  display: block;
  line-height: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16pt;
}